@font-face {
  font-family: "D2Coding";
  src: url("./font/D2Coding-Ver1.3.2-20180524.ttf");
}

body {
  font-family: "D2Coding";
  margin: 0px;
  text-align: center;
}

h1 {
  margin: 5px auto;
  background-color: #9ae0ae;
  max-width: 1200px;
}

div.gallery {
  margin: 5px auto;
  border: 1px solid #ccc;
  max-width: 1200px;
}

div.gallery img {
  width: 100%;
}

div.desc {
  color: #000;
}

div.introduce {
  margin: 5px auto;
  color: #000;

  max-width: 1200px;
}

div.related {
  margin: 5px auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

.fa {
  padding: 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-blog {
  background: #9ae0ae;
  color: white;
  border-width: 0px;
  font-family: "D2Coding";
}

.fa-github {
  background: #24292e;
  color: white;
}

.fa-dev {
  background: #08090a;
  color: white;
  border-width: 0px;
  font-family: "D2Coding";
}

.fa-stackoverflow {
  background: #f48024;
  color: white;
  border-width: 0px;
  font-family: "D2Coding";
}

.fa-medium {
  background: #292929;
  color: white;
}

.fa-trading {
  background: #ed1b24;
  color: white;
  border-width: 0px;
}

.fa-exercise {
  background: #ffff00;
  color: black;
  border-width: 0px;
  font-family: "D2Coding";
}

.fa-npm {
  background: #231f20;
  color: white;
  border-width: 0px;
  font-family: "D2Coding";
}

.fa-unsplash {
  background: #000000;
  color: white;
  border-width: 0px;
  font-family: "D2Coding";
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(117, 114, 113, 0.8) 10%,
      rgba(40, 49, 77, 0.8) 30%,
      rgba(29, 35, 71, 0.8) 50%,
      rgba(19, 25, 28, 0.8) 80%,
      rgba(15, 14, 14, 0.8) 100%
    ),
    url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
